.toti-hints[toti-show="false"] {
	display: none;
}
.toti-hints[disabled="true"] {
	color: grey;
}
.toti-hints {
	background-color: white;
}
.toti-hints[selected="true"] {
	background-color: #0d6efd;
}
.toti-hints[toti-hover="true"] {
	background-color: #0d6efd;
}
/* Hints with opt group */
.toti-hints-group {
	overflow: auto;
	border: 1px solid black;
	z-index: 500;
	max-height: 370px;
}
.toti-hints-option-group-options {
	padding-left: 10px;
}
.toti-hints-option-group-header {
	cursor: pointer;
	font-weight: bold;
}
/* Hints with opt group: control */
.toti-hints-option-group-header-collapse, .toti-hints-option-group-header-expand {
	margin-left: 2em;
	font-weight: bold;
	border: 1px solid black;
	cursor: pointer;
	display: inline-block;
	padding-left: 2px;
	padding-right: 2px;
}
.toti-hints-option-group-header[toti-hints-expand="false"] .toti-hints-option-group-header-collapse {
	display: none;
}
.toti-hints-option-group-header[toti-hints-expand="true"] .toti-hints-option-group-header-expand {
	display: none;
}

/* hints with self ref: control */
.toti-hints-option-control div {
	display: inline-block;
}
.toti-hints-option-control-collapse, .toti-hints-option-control-expand {
	cursor: pointer;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
	border: 1px solid black;
	margin-right: 5px;
}
.toti-hints-option-control[toti-hints-expand="false"] .toti-hints-option-control-collapse {
	display: none;
}
.toti-hints-option-control[toti-hints-expand="true"] .toti-hints-option-control-expand {
	display: none;
}
/* hints with self ref */
.toti-hints-option-childs-0 {
	padding-left: 0;
}
.toti-hints-option-childs-1 {
	padding-left: 10px;
}
.toti-hints-option-childs-2 {
	padding-left: 20px;
}
.toti-hints-option-childs-3 {
	padding-left: 30px;
}
.toti-hints-option-childs-4 {
	padding-left: 40px;
}
.toti-hints-option-childs-5 {
	padding-left: 50px;
}
.toti-hints-option-childs-6 {
	padding-left: 60px;
}